config weather 'weather'
	option city 'Voronezh'
	list choices 'Moscow'
	list choices 'Saint Petersburg'
	list choices 'Voronezh'
	list choices 'Novosibirsk'
	list choices 'Yekaterinburg'
	list choices 'Kazan'
	list choices 'Nizhny Novgorod'
	list choices 'Samara'
	list choices 'Rostov-on-Don'
	list choices 'Krasnoyarsk'
	list choices 'Sochi'
	list choices 'Khabarovsk'
	list choices 'Vladivostok'
	list choices 'Ishim'

config display 'display'
	option saver '60'
	option lang 'ru'
	option burnin '1'
	option saver_style 'clock'
	option night '1'
	option night_from '22'
	option night_to '6'
	option night_bright '15'
	option brightness '100'
	option font 'std'
	option micons '0'

config led 'led'
	option state '1'
	option sms_blink '0'

config alarm 'alarm'
	option enabled '0'
	option hour '7'
	option minute '0'
	option sound 'tone'
	option sound_args '988 130 988 267 838 130 838 535'
	option sound_label 'звонок'
	option volume '1'
	option mode 'once'
	option repeat '0'

config services 'services'
	list host 'ya.ru'
	list host 'api.telegram.org'
	list host 'youtube.com'
	list host 'github.com'
	list host 'ozon.ru'
	list host 'max.ru'
